boto3==1.12.0
botocore==1.15.49
certifi==2020.6.20
chardet==3.0.4
Django==2.1.9
django-cleanup==5.0.0
django-storages==1.9.1
docutils==0.15.2
idna==2.9
jmespath==0.10.0
paytm-pg==1.0.6
pycryptodome==3.9.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.5
