<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Addbiz4u - Admin Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/typicons/src/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.addons.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css' %}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css' %}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color:black;">
          <a class="navbar-brand brand-logo" href="">Addbiz4u Admin Panel</a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a href="/adminlogout/" class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="/adminindex/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addcategory/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Add Category</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addsubcategory/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Add Sub Category</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/defaultcategorieslist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Categories List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subcategorylist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Sub Categories List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminuserslist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Users List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminplanssubscriptions/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Plan Subscriptions</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminplanpayments/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Plan Payments</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminbusinesslists/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Business List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminbusinessleads/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Business Leads</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminpostblog/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Post Blogs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminbloglist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Blogs List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminadsforsell/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Ads for Sell</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminadsforrent/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Ads for Rent</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/adminadsforbuy/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Ads for Buy</span>
              </a>
            </li>
            
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Users List</h4>
                    <div style="overflow-x:auto;">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Join Date </th>
                          <th> User ID </th>
                          <th> Name </th>
                          <th> Mobile </th>
                          <th> Email </th>
                          <th> OTP Verification </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for x in data %}
                        <tr>
                          <td>{{ x.Join_Date|safe }}</td>
                          <td>{{ x.User_ID|safe }}</td>
                          <td>{{ x.User_FName|safe }} {{ x.User_LName|safe }}</td>
                          <td>{{ x.User_Mobile|safe }}</td>
                          <td>{{ x.User_Email|safe }}</td>
                          <td>{{ x.Verify_Status|safe }}</td>
                          {% if x.Account_Status == 'Deactive' %}
                          <td> <a href="/makeuseractive/?uid={{ x.User_ID|safe }}" class="btn btn-success btn-fw">
                            <i class="mdi mdi-alert-outline"></i>Active</a>
                          </td>
                          {% else %}
                          <td> <a href="/makeuserdeactive/?uid={{ x.User_ID|safe }}" class="btn btn-danger btn-fw">
                            <i class="mdi mdi-alert-outline"></i>Deactive</a>
                          </td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                Website Designed & Developed By : <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development</a>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'assets/js/shared/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/shared/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>