<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Addbiz4u - Business Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/typicons/src/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.addons.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css' %}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css' %}">
    <link rel="stylesheet" href="{% static 'w3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="background-color:black;">
          <a class="navbar-brand brand-logo">Biz4u Business Panel</a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
              <a href="/userdashboard/" class="dropdown-item">Back<i class="dropdown-item-icon ti-power-off"></i></a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main Menu</li>
            <li class="nav-item">
              <a class="nav-link" href="/openbusinessdash/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            {% if plan != 'PL001' %}
            <li class="nav-item">
              <a class="nav-link" href="/calllist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">User Quries</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/addservice/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Add Product</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/servicelist/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Product List</span>
              </a>
            </li>
            {% if plan != 'PL001' %}
            <li class="nav-item">
              <a class="nav-link" href="/postadbanner/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Post Ad Banner</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/maplocation/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Business Map Location</span>
              </a>
            </li>
            {% if plan != 'PL001' %}
            <li class="nav-item">
              <a class="nav-link" href="/socialmedialinks/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Social Media Links</span>
              </a>
            </li>
            {% endif %}
            {% if plan != 'PL001' %}
            <li class="nav-item">
              <a class="nav-link" href="/editbusinesshours/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Edit Business Hours</span>
              </a>
            </li>
            {% endif %}
            {% if plan == 'PL003' %}
            <li class="nav-item">
              <a class="nav-link" href="/settopbanner/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Set Top Banner</span>
              </a>
            </li>
            {% endif %}
            {% if plan != 'PL001' %}
            <li class="nav-item">
              <a class="nav-link" href="/imagegallery/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Image Gallery</span>
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/reviews/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Reviews</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/businessprofile/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Business Profile</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/changelogo/">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Change Logo</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Image Gallery</h4>
                    <form class="forms-sample" action="/savebusinessimages/" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleInputEmail3">Upload Images *</label>
                        <input type="file" class="form-control" name="image" multiple required>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success mr-2">
                        <input type="reset" value="Cancel" class="btn btn-light">
                        <p style="color:#14bf0b;font-weight:bold;font-size:20px;margin-top:20px;">{{ msg|safe }}</p>
                      </div>
                    </form>
                  </div>
                </div>
                {% if image %}
                <div class="card" style="margin-top:20px;padding:20px;">
                  <table class="w3-table-all w3-hoverable">
                    {% for x in image %}
                    <tr>
                      <td><img src="{{ x.Image.url|safe }}" style="width:200px;"></td>
                      <td><a href="/deletebusinessimages/?image={{ x.Image|safe }}" class="w3-button w3-red w3-hover-black">Delete</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                {% endif %}
              </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                Website Designed & Developed By : <a href="https://www.srd.mobi">SRD - Shreshtha Research & Development</a>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'assets/js/shared/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/shared/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
  </body>
</html>